<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite
    name="Suite"
    verbose="1" >

    <listeners>

        <listener class-name="com.ExtentReportListner.ExtentReporterNG" />
    </listeners>

    <test name="SK_Login" >

        <classes>

            <class name="com.TestNGScript.file.SK_Login" />
        </classes>
    </test>

    <test name="SK_Broadcast" >

        <classes>

            <class name="com.TestNGScript.file.SK_Broadcast" />
        </classes>
    </test>

    <test name="SK_HomePage" >

        <classes>

            <class name="com.TestNGScript.file.SK_HomePage" />
        </classes>
    </test>

    <test name="SK_OpenIncident" >

        <classes>

            <class name="com.TestNGScript.file.SK_OpenIncident" />
        </classes>
    </test>
    
     <test name="SK_EventAction" >

        <classes>

            <class name="com.TestNGScript.file.SK_EventAction" />
        </classes>
    </test>
    
      <test name="SK_ShareIncident" >

        <classes>

            <class name="com.TestNGScript.file.SK_ShareIncident" />
        </classes>
    </test>
    

    <test name="HomeAmazon" >

        <classes>

            <class name="com.TestNGScript.file.HomeAmazon" />
        </classes>
    </test>

    <test name="LoginAmazon" >

        <classes>

            <class name="com.TestNGScript.file.LoginAmazon" />
        </classes>
    </test>

    <test name="MakeMyTripHomePage" >

        <classes>

            <class name="com.TestNGScript.file.MakeMyTripHomePage" />
        </classes>
    </test>

</suite>