<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite
    name="Suite"
    verbose="1" >

    <listeners>

        <listener class-name="com.ExtentReportListner.ExtentReporterNG" />
    </listeners>

    <!--
    <test name="SK_Login" >

        <classes>

            <class name="com.TestNGScript.file.SK_Login" />
        </classes>
    </test>
    -->

    <test name="SK_Broadcast" >

        <classes>

            <class name="com.TestNGScript.file.SK_Broadcast" />
        </classes>
    </test>

    <test name="SK_SA_OrganizationPage" >

        <classes>

            <class name="com.TestNGScript.file.SK_SA_OrganizationPage" />
        </classes>
    </test>

    <test name="SK_LA_OpenIncident" >

        <classes>

            <class name="com.TestNGScript.file.SK_LA_OpenIncident" />
        </classes>
    </test>

    <test name="SK_SA_OpenIncident" >

        <classes>

            <class name="com.TestNGScript.file.SK_SA_OpenIncident" />
        </classes>
    </test>

    <test name="SK_Observer_OpenIncident" >

        <classes>

            <class name="com.TestNGScript.file.SK_Observer_OpenIncident" />
        </classes>
    </test>

    <test name="SK_911Incident" >

        <classes>

            <class name="com.TestNGScript.file.SK_911Incident" />
        </classes>
    </test>

    <test name="SK_LA_ClosedIncident" >

        <classes>

            <class name="com.TestNGScript.file.SK_LA_ClosedIncident" />
        </classes>
    </test>

    <test name="SK_LA_ManageVisitorPassType" >

        <classes>

            <class name="com.TestNGScript.file.SK_LA_ManageVisitorPassType" />
        </classes>
    </test>

    <test name="SK_LA_EditVisitorPassType" >

        <classes>

            <class name="com.TestNGScript.file.SK_LA_EditVisitorPassType" />
        </classes>
    </test>

    <test name="SK_LA_CreateVisitorPassType" >

        <classes>

            <class name="com.TestNGScript.file.SK_LA_CreateVisitorPassType" />
        </classes>
    </test>
    
     <test name="SK_LA_ManageVisitors" >

        <classes>

            <class name="com.TestNGScript.file.SK_LA_ManageVisitors" />
        </classes>
    </test>
    
        <test name="SK_LA_CreateVisitor" >

        <classes>

            <class name="com.TestNGScript.file.SK_LA_CreateVisitor" />
        </classes>
    </test>

    <!--
    <test name="SK_EventAction" >

        <classes>

            <class name="com.TestNGScript.file.SK_EventAction" />
        </classes>
    </test>
    -->


    <!--
    <test name="Amazon_Home" >

        <classes>

            <class name="com.TestNGScript.file.Amazon_Home" />
        </classes>
    </test>

    <test name="Amazon_Login" >

        <classes>

            <class name="com.TestNGScript.file.Amazon_Login" />
        </classes>
    </test>

    <test name="MMT_HomePage" >

        <classes>

            <class name="com.TestNGScript.file.MMT_HomePage" />
        </classes>
    </test>
    -->

</suite>